<div>
  <h5>year: {{year}} month: {{month}} day: {{day}}</h5>
  <h5>hour: {{ hour }} minutes: {{minute}} seconds: {{second}}</h5>
</div>


<div align="center" style="margin-top:10px">
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>start time</th>
      <th>end time</th>
    </tr>
    </thead>
    <tbody>
    <tr >
      <td>Paracetamol</td>
      <td>12:00</td>
      <td>18:00</td>
      <button type="button" class="btn btn-default" >Take</button>
    </tr>

    <tr>
      <td>Ibuprofen</td>
      <td>08:00</td>
      <td>12:00</td>
      <button type="button" class="btn btn-default" >Take</button>
    </tr>

    <tr >
      <td>Visine</td>
      <td>10:00</td>
      <td>20:00</td>
      <button type="button" class="btn btn-default" >Take</button>
    </tr>
    </tbody>
  </table>
</div>

<div>
  <h3 style="color:red">{{info}}</h3>
</div>
